################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config/applicationhost.config
/.vs/GoldJack/v15/Server/sqlite3/storage.ide-wal
/.vs/GoldJack/v15/Server/sqlite3/storage.ide-shm
/.vs/GoldJack/v15/Server/sqlite3/storage.ide
/.vs/GoldJack/v15/Server/sqlite3/db.lock
.vs/
GoldJack/bin/
/GoldJack/obj/Debug
/.vs/GoldJack/v15
/packages
/GoldJack/obj/Release
